body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333;
}

.card {
  background-color: aliceblue;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.12);
}

.card1 {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  margin: 20px auto;
}
